.btn1 {
	border: 2px solid #BC9EC1;
	color: #BC9EC1;
}
.btn1:hover {
	background-color: #BC9EC1;
	color: white;
}
.btn2 {
	background-color: #BC9EC1;
	color: white;
}
.btn2:hover {
	border: 2px solid #BC9EC1;
	background-color: white;
	color: #BC9EC1;
}
.err-msg {
	font-style: italic;
	color: red;
}
.logo {
	color: white;
}
.logo:hover {
	color: white;
}
.bg-prpl {
	background-color: #BC9EC1;
}
.bg-crm {
	background-color: #FCF6F0;
}
.bg-coral {
	background-color: #596475;
}
.p-index-head {
	color: #53248F;
}
.p-index-body {
	font-size: 1.5rem
}